{% extends 'base.html' %}

{% block content %}
<h2>Ventas</h2>
<a class="btn btn-primary mb-2" href="{% url 'ventas:create' %}">Crear venta</a>

<table class="table table-sm">
  <thead>
    <tr>
      <th>Código</th>
      <th>Cliente</th>
      <th>Total</th>
      <th>Fecha</th>
      <th style="width: 280px;">Acciones</th>
    </tr>
  </thead>
  <tbody>
  {% for obj in object_list %}
    <tr>
      <td><a href="{% url 'ventas:detail' obj.pk %}">{{ obj.codigo_venta }}</a></td>
      <td>{{ obj.cliente }}</td>
      <td>${{ obj.total }}</td>
      <td>{{ obj.fecha }}</td>
      
      <td class="d-flex text-nowrap">
        <a href="{% url 'ventas:detail' obj.pk %}" class="btn btn-sm btn-info mx-1" title="Ver detalle">
            Ver
        </a>
        
        <a href="{% url 'ventas:update' pk=obj.pk %}" class="btn btn-warning btn-sm mx-1" title="Editar venta">
            Editar
        </a>
        
        <a href="{% url 'ventas:comprobante_pdf' venta_id=obj.pk %}" class="btn btn-sm btn-primary mx-1" target="_blank" title="Generar PDF">
            PDF
        </a>
        
        <a href="{% url 'ventas:delete' pk=obj.pk %}" class="btn btn-danger btn-sm mx-1" title="Eliminar venta">
            Eliminar
        </a>
      </td>
      </tr>
  {% empty %}
    <tr><td colspan="5">No hay ventas.</td></tr>
  {% endfor %}
  </tbody>
</table>

{% if is_paginated %}
<div class="pagination mt-3 text-center">
  {% if page_obj.has_previous %}
    <a class="btn btn-outline-primary btn-sm mx-1" href="?page=1">&laquo; Primero</a>
    <a class="btn btn-outline-primary btn-sm mx-1" href="?page={{ page_obj.previous_page_number }}">Anterior</a>
  {% endif %}

  <span class="mx-2">
    Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
  </span>

  {% if page_obj.has_next %}
    <a class="btn btn-outline-primary btn-sm mx-1" href="?page={{ page_obj.next_page_number }}">Siguiente</a>
    <a class="btn btn-outline-primary btn-sm mx-1" href="?page={{ page_obj.paginator.num_pages }}">Último &raquo;</a>
  {% endif %}
</div>
{% endif %}
{% endblock %}